.page {
  background-color: #ddd;
  color: #00AFF0;
  min-height: 100vh;
}
.absoluteCenter {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  flex-direction: column;
}
.withNavBar{
  min-height: calc(100vh - 4.1rem);
}
.content {
  background-color:#27272B;
  padding:1rem;
  min-height: 100vh;
}
.withNavBar .content {
  margin-top:0.1rem;
  min-height: calc(100vh - 4.2rem);
}
